/*Stock CSS*/
.app {
  text-align: center;
  width:100%;
  height:100%;
  flex: center;
}

.app-logo {
  margin-top: -7%;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.2em;
  margin-top: -5%;
}

.app-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*Added CSS*/
.rounded-border{
  border-radius: 3px;
}

.archive-broadcast{
  height:13.5em;
  background-color: gray;
  margin: 5px auto;
  border-radius: 3px;
  padding: 10px;
  width:100%;
}

.bg-gray{
  background-color: gray;
  margin: 5px auto;
  border-radius: 3px;
  padding: 10px;
  width:100%;
}

.audio-player{
  margin-top: 5px;
  width:100%;
}

.hosts-font{
  font-size: .8em;
}

.object-fit_fill { object-fit: fill }

.padding-top{
  padding-top: 1em;
}

.padding-bottom{
  padding-bottom: 2em;
}

/*PopupCard*/
card {
  background: blue;
  width:100%;

}

card:hover {
  background: skyblue;
  transition: background .5s;
}

/*Image loader*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 150px;
  height: 150px;
  margin-left:29%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
